<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="footer" class="style-scope ytd-guide-renderer">
      <div id="guide-links-primary" class="style-scope ytd-guide-renderer">
        <a href="https://www.youtube.com/about/">About</a>
        <a href="https://www.youtube.com/about/press/">Press</a>
        <a href="https://www.youtube.com/about/copyright/">Copyright</a>
        <a href="/t/contact_us/">Contact us</a>
        <a href="https://www.youtube.com/creators/">Creators</a>
        <a href="https://www.youtube.com/ads/">Advertise</a>
        <a href="https://developers.google.com/youtube">Developers</a>
      </div>
      <div id="guide-links-secondary" class="style-scope ytd-guide-renderer">
        <a href="/t/terms">Terms</a>
        <a href="/t/privacy">Privacy</a>
        <a href="https://www.youtube.com/about/policies/"
          >Policy &amp; Safety</a
        >
        <a
          href="https://www.youtube.com/howyoutubeworks?utm_campaign=ytgen&amp;utm_source=ythp&amp;utm_medium=LeftNav&amp;utm_content=txt&amp;u=https%3A%2F%2Fwww.youtube.com%2Fhowyoutubeworks%3Futm_source%3Dythp%26utm_medium%3DLeftNav%26utm_campaign%3Dytgen"
          >How YouTube works</a
        >
        <a href="/new">Test new features</a>
      </div>

      <div id="copyright">
        <div dir="ltr" style="display: inline">© 2022 Google LLC</div>
      </div>
    </div>
  </body>
</html>
