@{
    ViewData["Title"] = "";
}
@section styles
{
    <link rel="stylesheet" href="~/css/NavStyles.css"/>
}
@Html.Partial("Components/SideBarSection/NavBarPartial")
<vc:side-bar-section section-string="first section 2"></vc:side-bar-section>
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.Partial("Components/SideBarSection/NavBarPartial",a)
    <vc:side-bar-section section-string="first section"></vc:side-bar-section>
    <vc:side-bar-section section-string="second section"></vc:side-bar-section>
</div>
*@