.SearchBar,
.TopBar,
.NavBarActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.TopBar {
    position:absolute;
    top:0;
    justify-content:space-evenly;
    right:0;
    left:180px;
    margin: 12px 24px;
    margin-left:120px;
    padding: 0px;
}
.MenuIcon {
    margin-right: 12px;
}
.Logos {
    margin-top:12px !important;
    height:44px !important;
}
.SearchBar{
    width:50%;
}
.Bar{
    width:100%;
}
.SearchBar input {
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    box-shadow: inset 0px 1px 1px #eeeeee;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 6px;
    width: 100%;
    height: 32px;
}

.SearchBar input:active,
.SearchBar input:focus {
    outline: none;
    border: rgb(118, 118, 247) 1px solid;
}

.SearchIcon {
    background: #f4f4f4;
    border: 1px solid #cccccc;
    border-radius: 0px 2px 2px 0px;
    padding: 0px 14px;
    border-left: none;
    height: 32px;
}

.NavBarActions {
    margin-left: 220px;
    justify-content:space-between;
    gap: 24px;
}

.SignUp {
    padding:10px;
    padding-block:9px;
    color:blue;
    gap:10px;
    border-radius: 4px;
    border:1px solid blue;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
.SignIn{
    width:25px;
    height: 25px;
    border-radius:50%;
}
