
@media(max-width:1312px) {
    .sidebar {
        width: 9% !important;
    }
    .positionBody{
        left:9% !important;
        width:90% !important;
    }
    .Action {
        flex-direction: column !important;
        gap:0 !important;
        margin:0 !important;
        height:50px !important;
        width:100px !important;
    }
    .Action p{
        font-size:10px;
    }
    .Logos .MenuIcon{
        margin-left:23px;
    }
    #footer-links
    {
       display:none;
    }
    .hr{
        display:none;
    }
    .SearchBar{
        width:65%;
    }
}
@media(max-width:1000px)
{

}
@media(max-width:800px){
    .SearchBar{
        width:max-content !important;
    }
    .Bar{
        display:none;
    }
    .SearchIcon{
        background-color:transparent;
        border:none;
        padding-top:3px;
    }
    .TopBar{
        justify-content:right;
    }
    .NavBarActions{
        margin-left:10px;
    }
    .Logos{
        margin-top:6px !important;
    }
}
@media(max-width:420px)
{
    .NavBarActions{
        display:none;
    }
    .Action{
        display:none;
    }
}
