
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="~/css/Responsive.css"/> 
  
<style>
#copyright {
        color: #909090;
        font-family: Roboto;
        font-style: normal;
        font-size: 12.5px;
        line-height: 15px;
      }
      #guide-links-primary a,
      #guide-links-secondary a {
          font-family: Roboto;
        display: inline-block;
        text-decoration: none;
        color: #606060 !important;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.8rem;
      }
      #footer-links div {
        padding: 6px 14px;
        margin-left:6px;
        width: 180px;
        font-family: Roboto;
        text-align: left;
      }
</style>

<div id="footer-links">
    <div id="guide-links-primary">
    <a href="https://www.youtube.com/about/">About</a>
    <a href="https://www.youtube.com/about/press/">Press</a>
    <a href="https://www.youtube.com/about/copyright/">Copyright</a>
    <a href="/t/contact_us/">Contact us</a>
    <a href="https://www.youtube.com/creators/">Creators</a>
    <a href="https://www.youtube.com/ads/">Advertise</a>
    <a href="https://developers.google.com/youtube">Developers</a>
    </div>
    <div id="guide-links-secondary">
    <a href="/t/terms">Terms</a>
    <a href="/t/privacy">Privacy</a>
    <a href="https://www.youtube.com/about/policies/"
        >Policy &amp; Safety</a
    >
    <a
        href="https://www.youtube.com/howyoutubeworks?utm_campaign=ytgen&amp;utm_source=ythp&amp;utm_medium=LeftNav&amp;utm_content=txt&amp;u=https%3A%2F%2Fwww.youtube.com%2Fhowyoutubeworks%3Futm_source%3Dythp%26utm_medium%3DLeftNav%26utm_campaign%3Dytgen"
        >How YouTube works</a
    >
    <a href="/new">Test new features</a>
    </div>
    <div id="copyright">
    <div style="padding: 0px; margin:0px;">© 2022 Google LLC</div>
    </div>
</div>