<style>
    .sidebar{
    width:180px;
    overflow-y:auto;
    overflow-x:hidden;
}
</style>
<div class="sidebar">
    @Html.Partial("Components/SideBarSection/Actions")
    <hr />
    @Html.Partial("Footer")
</div>