<div class="NavBar">
      <div class="Logos">
        <img
          src="~/css/images/Hamburger-Menü.png"
          alt="MenuIcon"
          class="MenuIcon"
        />
        <img src="~/css/images/Logo.png" alt="youtubeLogo" />
      </div>
      <div class="SearchBar">
        <div class="Bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="SearchIcon">
          <img src="~/css/images/Vector.png" alt="SearchIcon" />
        </div>
      </div>
      <div class="NavBarActions">
        <img src="~/css/images/Create.png" alt="CreateNew" />
        <img src="~/css/images/Chocolate.png" alt="Apps" />
        <img src="~/css/images/Notification.png" alt="Notification" />
        <div class="SignUp">
        </div>
      </div>
    </div>