<div class="TopBar">
    <div class="SearchBar">
        <div class="Bar">
            <input type="text" placeholder="Search" />
        </div>
        <div class="SearchIcon">
            <img src="~/css/images/Vector.png" alt="SearchIcon" />
        </div>
    </div>
    @if(false)
    {
         <div class="NavBarActions">
            <img src="https://img.icons8.com/tiny-glyph/16/000000/experimental-menu-2-tiny-glyph.png"/>
            <div class="SignUp">
                <img src="~/css/images/ProfileIcon.png" alt="profile" />
                Sign In
            </div>
        </div>
        
    }
    else
    {
        <div class="NavBarActions">
            <img src="~/css/images/Create.png" alt="CreateNew" />
            <img src="~/css/images/Chocolate.png" alt="Apps" />
            <img src="~/css/images/Notification.png" alt="Notification" />
            <img src="~/css/images/profile.jpg" class="SignIn" />
        </div>
    }
</div>